<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CardlinkReportsFtpUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CardlinkReportsFtpUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <CardlinkReportsFtpUpload.Properties.Settings>
      <setting name="FtpPathToUpload" serializeAs="String">
        <value>/In/TMS_Export_Files/</value>
      </setting>
      <setting name="FtpAddress" serializeAs="String">
        <value>192.168.111.11</value>
      </setting>
      <setting name="FtpUser" serializeAs="String">
        <value>mellon</value>
      </setting>
      <setting name="FtpPassword" serializeAs="String">
        <value>#M3ll0n#</value>
      </setting>
      <setting name="PathToSaveCsv" serializeAs="String">
        <value>C:\IngProvLogs\</value>
      </setting>
      <setting name="EmailTo" serializeAs="String">
        <value>v.charalambidis@mellongroup.com </value>
      </setting>
      <setting name="EmailSubject" serializeAs="String">
        <value>CardLink Ftp Upload reports</value>
      </setting>
      <setting name="EmailBody" serializeAs="String">
        <value />
      </setting>
      <setting name="SmtpHostIp" serializeAs="String">
        <value>smtp.office365.com</value>
      </setting>
      <setting name="EmailFrom" serializeAs="String">
        <value>do-not-reply@mellongroup.com</value>
      </setting>
      <setting name="SmtpPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="NetworkCredentialUserName" serializeAs="String">
        <value>do-not-reply@mellongroup.com</value>
      </setting>
      <setting name="NetworkCredentialPassword" serializeAs="String">
        <value>P@55w0rd!!</value>
      </setting>
    </CardlinkReportsFtpUpload.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentFTP" publicKeyToken="f4af092b1d8df44f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-19.2.2.0" newVersion="19.2.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <publisherPolicy apply="no" />
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.122.19.1" newVersion="4.122.19.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <CardlinkReportsFtpUpload.Properties.Settings>
      <setting name="SentryDSN" serializeAs="String">
        <value>https://9d26bd6bcf484bc4895ea2615fcc2233@o347434.ingest.sentry.io/5980834</value>
      </setting>
      <setting name="SentryDebug" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SentryTracesSampleRate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="AutoReportGenerator" serializeAs="String">
        <value>C:\Users\a.gkliatis\source\repos\CardlinkReportsUpload\AutoReport\AutoCardLinkReportApplication\bin\Release\AutoCardlinkReportApplication</value>
      </setting>
      <setting name="TerminalLogReport" serializeAs="String">
        <value>C:\Users\a.gkliatis\source\repos\CardlinkReportsUpload\LogReport\CardLinkLogReport\bin\Release\CardLinkLogReport</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="StartHourReport" serializeAs="String">
        <value />
      </setting>
      <setting name="PathToSaveStatsLoggingCsv" serializeAs="String">
        <value />
      </setting>
    </CardlinkReportsFtpUpload.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client" />
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SampleDataSource" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=ORCL))) " />
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>